body {
  margin: 0;
  padding: 0;
  font-family: "Amatic SC", cursive;
  font-weight: bolder;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

/* Main container */
.container {
  align-items: center;
  text-align: center;
  padding-top: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

#msg {
  width: 20vw;
  height: 20vh;
  align-items: center;
  text-align: center;
  font-weight: bolder;
}

/* Dialog box to write the message */
#cipher-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  row-gap: 2rem;
}

/* Input to key number */
#input-key {
  align-items: center;
  text-align: center;
  font-weight: bolder;
}

/* Result box */
#output {
  align-items: center;
  text-align: center;
  width: 20vw;
  height: 20vh;
  border: 1px solid rgb(22, 22, 23);
  margin: auto;
  background-color: white;
}

/* Buttons to encrypt and decrypt */
button {
  background-color: #f0e6ef;
  color: black;
  font-weight: bolder;
}

button:hover {
  background-color: aquamarine;
}
